<!DOCTYPE html>
<html>
<head>
    <title>Movie Library</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Movie Library</h1>
            <nav>
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'search' %}">Search Movies</a>
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </nav>
        </div>
    </header>
    <main class="container my-4">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
